<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>BundlePath</key>
				<string>MacProMemoryNotificationDisabler.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/MacProMemoryNotificationDisabler</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<false/>
		<key>DataHub</key>
		<dict>
			<key>ARTFrequency</key>
			<integer>0</integer>
			<key>BoardProduct</key>
			<string>Mac-27AD2F918AE68F61</string>
			<key>BoardRevision</key>
			<data>
			AQ==
			</data>
			<key>DevicePathsSupported</key>
			<integer>1</integer>
			<key>FSBFrequency</key>
			<integer>0</integer>
			<key>InitialTSC</key>
			<integer>0</integer>
			<key>PlatformName</key>
			<string>platform</string>
			<key>SmcBranch</key>
			<data>
			ajEzNw==
			</data>
			<key>SmcPlatform</key>
			<data>
			ajEzNw==
			</data>
			<key>SmcRevision</key>
			<data>
			AgBBAA8A
			</data>
			<key>StartupPowerEvents</key>
			<integer>0</integer>
			<key>SystemProductName</key>
			<string>MacPro7,1</string>
			<key>SystemSerialNumber</key>
			<string>Removed!!</string>
			<key>SystemUUID</key>
			<string>Removed!!</string>
		</dict>
		<key>Generic</key>
		<dict>
			<key>AdviseWindows</key>
			<false/>
			<key>MLB</key>
			<string>Removed!!</string>
			<key>ROM</key>
			<data>
			/P//APz/
			</data>
			<key>SpoofVendor</key>
			<false/>
			<key>SystemProductName</key>
			<string>MacPro7,1</string>
			<key>SystemSerialNumber</key>
			<string>Removed!!</string>
			<key>SystemUUID</key>
			<string>Removed!!</string>
		</dict>
		<key>PlatformNVRAM</key>
		<dict>
			<key>BID</key>
			<string>Mac-27AD2F918AE68F61</string>
			<key>FirmwareFeatures</key>
			<data>
			/Y/1Pw==
			</data>
			<key>FirmwareFeaturesMask</key>
			<data>
			/5//Pw==
			</data>
			<key>MLB</key>
			<string>Removed!!</string>
			<key>ROM</key>
			<data>
			/P//APz/
			</data>
		</dict>
		<key>SMBIOS</key>
		<dict>
			<key>BIOSReleaseDate</key>
			<string>05/13/2020</string>
			<key>BIOSVendor</key>
			<string>Apple Inc.</string>
			<key>BIOSVersion</key>
			<string>MP71.88Z.F000.B00.2005132104</string>
			<key>BoardAssetTag</key>
			<string></string>
			<key>BoardLocationInChassis</key>
			<string>Part Component</string>
			<key>BoardManufacturer</key>
			<string>Apple Inc.</string>
			<key>BoardProduct</key>
			<string>Mac-27AD2F918AE68F61</string>
			<key>BoardSerialNumber</key>
			<string>Removed!!</string>
			<key>BoardType</key>
			<integer>11</integer>
			<key>BoardVersion</key>
			<string>1.0</string>
			<key>ChassisAssetTag</key>
			<string>Pro-Enclosure</string>
			<key>ChassisManufacturer</key>
			<string>Apple Inc.</string>
			<key>ChassisSerialNumber</key>
			<string>Removed!!</string>
			<key>ChassisType</key>
			<integer>7</integer>
			<key>ChassisVersion</key>
			<string>Mac-27AD2F918AE68F61</string>
			<key>FirmwareFeatures</key>
			<data>
			/Y/1Pw==
			</data>
			<key>FirmwareFeaturesMask</key>
			<data>
			/5//Pw==
			</data>
			<key>MemoryFormFactor</key>
			<integer>9</integer>
			<key>PlatformFeature</key>
			<integer>24</integer>
			<key>ProcessorType</key>
			<integer>3841</integer>
			<key>SmcVersion</key>
			<data>
			AAAAAAAAAAAAAAAAAAAAAA==
			</data>
			<key>SystemFamily</key>
			<string>MacPro</string>
			<key>SystemManufacturer</key>
			<string>Apple Inc.</string>
			<key>SystemProductName</key>
			<string>MacPro7,1</string>
			<key>SystemSKUNumber</key>
			<string>Mac-27AD2F918AE68F61</string>
			<key>SystemSerialNumber</key>
			<string>Removed!!</string>
			<key>SystemUUID</key>
			<string>Removed!!</string>
			<key>SystemVersion</key>
			<string>1.0</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
	</dict>
</dict>
</plist>
